footer .navbar .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    z-index: 1000;
}

#cy {
    height: 500px;
    width: 100%;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.fireworks_brand {
    height:50px;
}
.navbar-nav .dropdown-menu li>a:hover,
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a {
    color: white;
    background-color: #00497F;
}

.navbar-btn {
    margin-top:12px;
}
.panel {
}


body {
    padding-top:50px;
}
.navbar-default p.navbar-text,
.navbar-nav .dropdown-menu,
.navbar-nav .dropdown-menu a,
.navbar.navbar-default {
    background-color: #319ae8;
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
input.deletecontrol {
    margin-top:0px;
    margin-right:5px;
}

.navbar-brand img.brand {
    display:inline;
    padding:0px;
    height:50px;

}
.navbar-default a.navbar-brand {
    background-color: #319ae8;
    color: white;
    padding-right:10px;
    padding-left:10px;
    padding-top: 0px;
}

.pull-down {
    margin-top: 30px;
}

.pull-down-sm {
    margin-top: 10px;
}

.pull-up { margin-bottom: 30px;}

.fw-link {
    border-bottom: 1px dotted;
    margin-left: 10px;
}

.table td{
    vertical-align: middle;
}


.label {
    font-size: 11px;
    letter-spacing: .08em;
    color: #fff;
    vertical-align: middle;
}

.fw-link{
    color: white;
    padding:2px 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 0px #aaa;
}

.READY{
    background: #2E92F2;
}

.WAITING{
    background: #1F62A2;
}


.FIZZLED{
    background: #DB0051;
}

.COMPLETED{
    background: #24C75A;
}

.RUNNING{
    background: #F4B90B;
}
.RESERVED{
    background: #BB8BC1;
}

.ARCHIVED{
    background: #7F8287;
}

.DEFUSED{
    background: #B7BCC3;
}

.total{
    color: #405063;
    background: none;
    font-weight: bold;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
